{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 75vh;">
    <div class="border p-4" style="width: 350px;">
        <h5 class="mb-3">Réinitialiser le mot de passe</h5>
        <hr class="mb-4 mt-0" style="border: 1px solid aquamarine;">

        {{ form_start(resetPasswordForm) }}
            <div class="mb-3">
                {{ form_row(resetPasswordForm.email) }}
            </div>
            <div class="mb-3">
                {{ form_row(resetPasswordForm.oldPassword) }}
            </div>
            <div class="mb-3">
                {{ form_row(resetPasswordForm.newPassword.first) }}
            </div>
            <div class="mb-3">
                {{ form_row(resetPasswordForm.newPassword.second) }}
            </div>

            <div class="d-grid my-3">
                <button class="btn btn-primary fw-bold" type="submit">Valider</button>
            </div>
        {{ form_end(resetPasswordForm) }}

        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger mt-3">{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-3">{{ message }}</div>
        {% endfor %}
    </div>
</div>
{% endblock %}








